body {
  height: 1000vh;
  text-align: center;
  align-items: center;
  background-color: antiquewhite;
}

div {
  width: 200px;
  height: 300px;
}

div > div {
  border: 6px solid white;
}

#divback {
  width: 500px;
  height: 650px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div > div:nth-child(1) {
  background-color: tomato;
}
div > div:nth-child(2) {
  background-color: teal;
}
div > div:nth-child(3) {
  background-color: burlywood;
}
div > div:nth-child(4) {
  background-color: thistle;
}

#whitebox1, #whitebox2, #whitebox3, #whitebox4 {
  border: none;
  height: 80px;
  width: 200px;
  background-color: white;
  position: relative;
  bottom: -15px;
  display: flex;
  text-align: left;
  align-items: center;
}
