body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6bbcbe;
}

.container {
  display: flex;
  width: 200px;
  height: 150px;
  align-items: center;
  justify-content: center;
}

div > span {
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.container:first-child {
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rectangle {
  width: 10px;
  height: 40px;
  margin: 3px;
  background-color: white;
  animation: bigger 1s ease-in-out infinite;
}

.rectangle:nth-child(2) {
  animation-delay: 0.1s;
}
.rectangle:nth-child(3) {
  animation-delay: 0.2s;
}
.rectangle:nth-child(4) {
  animation-delay: 0.3s;
}
.rectangle:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes bigger {
  0% {
    height: 40px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 40px;
  }
}
