@{
    ViewBag.Title = "NRL FootBall League";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    130 Murdoch Drive<br />
    Murdoch, WA 6150<br />
    <abbr title="Phone">P:</abbr>
    08)123-456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@jaedev.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@jaedev.com</a>
</address>